* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: aliceblue; 
}

body {
	background-color: rgb(32, 32, 32);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ====== NAVBAR ====== */
header {
	width: 100%;
	background-color: rgb(24, 24, 24);
	padding: 10px 20px;
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-toggle {
	font-size: 24px;
	cursor: pointer;
	display: none;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 20px;
	transition: all 0.3s ease;
}

.nav-links li a {
	text-decoration: none;
	color: aliceblue;
}

.nav-links li a:hover {
	color: rgb(250, 250, 250);
}

@media (max-width: 700px) {
	.menu-toggle {
		display: block;
	}

	.nav-links {
		display: none;
		flex-direction: column;
		background-color: rgb(24, 24, 24);
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		padding: 10px 0;
	}

	.nav-links.active {
		display: flex;
	}
}

/* ====== PERFIL ====== */
main {
	padding: 20px;
}

.perfil-container {
	display: flex;
	align-items: flex-start;
	gap: 20px;
}

#Perfil {
	height: 250px;
	border-radius: 15%;
}

.perfil-texto h1 {
	font-size: 2em;
	margin-bottom: 5px;
}

.perfil-texto h2 {
	font-size: 1.2em;
	margin-top: 5px;
	font-family: 'Courier New', Courier, monospace;
}

/* ====== TEXTO ABAIXO DA IMAGEM ====== */
h3 {
	font-size: 2em;
	margin-top: 20px;
}

/* ====== FOOTER ====== */
footer {
	margin-top: 30px;
	padding: 10px;
	text-align: center;
	background-color: rgb(24, 24, 24);
	display: flex;
	flex-direction: column;
	gap: 5px;
}

footer a {
	color: rgba(255, 254, 252, 1);
	text-decoration: none;
}

/*  ====== PROJETOS ====== */
.projeto-container {
	display: flex;
	align-items: flex-start;
	gap: 20px;
}

.projeto {
	height: 200px;
	border-radius: 15%;
}

.projeto-texto h1 {
	font-size: 1em;
}

.projeto-texto p {
	font-size: 1.2em;
}